
<body>

<div class="navbar">
  <div class="navbar-left">

      <div class="navbar-item"><div class="animate__animated animate__fadeInDown "><div class="imaginos"><img src="https://www.pepsi.com/en-us/assets/images/logo.44fea4ca40e8a8843bb0fdf07d618439.png" alt=""></div>
              </div></div>
          <button class="button-menu" onclick="accion()"> MENU</button>
              <div class="navbar-item desaparece" style="padding-left: 40px;"> <div class="animate__animated animate__fadeInDown ">productos nuevos</div></div>
              <div class="navbar-item desaparece" > <div class="animate__animated animate__fadeInDown "> Que es nuevo</div></div>
              <div class="navbar-item desaparece" ><div class="animate__animated animate__fadeInDown "> informacion</div></div>
              <div class="navbar-item desaparece" ><div class="animate__animated animate__fadeInDown ">contactanos</div></div>

       </div>
          <div class="animate__animated animate__fadeInDown ">
        <div class="navbar-right">
          <div class="navbar-item desaparece"> comprar productos</div>
        </div>
</div>
</div>

<!--javascript-->
<script>
  function accion(){
    console.log('si funciona');
  }
</script>

<div class="product" style="background-image: url('	https://www.pepsi.com/en-us/uploads/images/sodashop-22/background-desktop@3x.png');background-size: auto 100%;
background-position: top center;
background-position-x: center;
background-position-y: top;
height: 668px;"
>
<div class="product-item losa" style="padding: 0; margin: 0;">
  <img src="https://www.pepsi.com/en-us/uploads/images/sodashop-22/cream-soda@3x.png" alt="" style="width: 100%;
  height: 560px;
  max-width : 100%;
  max-height: 100%;
  ">
</div>
<div class="pepsi-soda-shop-22-promo__title" >
  <img src="https://www.pepsi.com/en-us/uploads/images/sodashop-22/pepsi-pepsi-cola-logo-desktop@2x.png" alt="" style="width: 100%;
  height: 396px;
  top: 27px;
  bottom: 50px;
  max-height: 100%;
  max-width: 100%;"
  >
</div>
<div class="product-item product-item-column">
<img src="https://www.pepsi.com/en-us/uploads/images/sodashop-22/black-cherry@3x.png" alt="Introducing Nitro Pepsi.  Smooth, Creamy, Delicious" style="    width: 100%
px
;
  height: 515.3px;
  right: -6.4px;
  max-width : 100%">

</div>
</div>



<div class="product" style="background-image: url('	https://www.pepsi.com/en-us/uploads/images/nitro/Desktop_Background.png');">
  <div class="product-item">
      <img src="https://www.pepsi.com/en-us/uploads/images/nitro/Nitro_Pepsi_CAN_Glass@2x.png" alt="Pepsi Nitro Can and Glass">
  </div>
<div class="product-item product-item-column">
  <img src="https://www.pepsi.com/en-us/uploads/images/nitro/Nitro_Logo@3x.png" alt="Introducing Nitro Pepsi.  Smooth, Creamy, Delicious">
  <div class="product-text "> <div class="lisa">LISA, CREMOSA, DELICIOSA</div></div>
  <div style="height: 20px;"></div>
  <div class="product-button"><div class="botonsito"> APRENDE MAS</div></div>
  <div style="height: 20px;"></div>
</div>
</div>


<div class="product" style="background-image: url('	https://www.pepsi.com/en-us/uploads/images/PZS-tile-background.png');">

<div class="product-item product-item-column">

  <img style="max-width: 100%;"
  src="https://www.pepsi.com/en-us/uploads/images/PZS-headline.png" alt="Zero Sugar, Zero Compromise">
  <img style="width: 40%;"
  src="https://www.pepsi.com/en-us/uploads/images/PZS-video-placeholder.png" alt="">
  <div style="height: 20px;"></div>

</div>
<div class="product-item product-item-column">
  <div style="height: 40px;"></div>
  <img src="https://www.pepsi.com/en-us/uploads/images/can-pzs.png" class="pepsi-zero-can" alt="Pepsi Zero Sugar can">
</div>
</div>


<div class="product" style="background-color: #265cc5;">
  <div class="product-item product-item-column" >
      <img src="https://www.pepsi.com/en-us/uploads/images/better-with-pepsi/Thumbnail_2.jpg" alt="better with pepsi ribs video">
      <div style="height: 20px;"></div>
      <img src="https://www.pepsi.com/en-us/uploads/images/better-with-pepsi/Thumbnail.jpg" alt="better with pepsi wings video">
      <div style="height: 20px;"></div>
  </div>
<div class="product-item product-item-column"
style="
max-width: 90%;
width: 100%;
padding: 0px;
height: 300px;
background-image: url('		https://www.pepsi.com/en-us/uploads/images/better-with-pepsi/PEP_BWP_D.jpg');
background-size: cover;
background-position: center;
">


</div>
</div>

<div class="product" style="background-color: #265cc5; justify-content: space-between;">
<div class="product-item product-item-column" >
  <img src="https://www.pepsi.com/en-us/uploads/images/pepsi-mango/headline@3x.png" alt="Pepsi with a splash of mango. The perfect match">
  <img src="https://www.pepsi.com/en-us/uploads/images/pepsi-mango/thumbnail@3x.png" alt="Pepsi Mango Promo">
</div>
<div class="product-item product-item-column"
style="
max-width: 100% !important;
">

<img style="max-width: 100%; padding: 0 !important; width: 100%;height: 100%;" src="https://www.pepsi.com/en-us/uploads/images/pepsi-mango/bg-1-desktop@2x.png" alt="">
</div>
</div>

<div class="product" style="background-color: #265cc5;">

<div class="product-item product-item-column">
<img src="https://www.pepsi.com/en-us/uploads/images/twil-can.png" style="
      display: block;
      max-width: 100%;
      height: auto;
      padding: 0;
      margin-top: 4em;
    " alt="" role="presentation">


</div>
<div class="product-item product-item-column">
<img src="https://www.pepsi.com/en-us/uploads/images/twil-header-dt.png" style="display: block; max-width: 100%; height: auto" class="media-desktop" alt="That's Whay I Like®">
</div>
</div>



<div class="product" style="background-image: url('	https://www.pepsi.com/en-us/uploads/04_Generation_BG_D_2.png?mtime=20181217151706'); padding: 60px;">
<div class="product-item product-item-column" style="padding-left: 50px;">
  <div class="product-text" style="font-size: 78px; text-align: left;" ><div class="cambia">TODO TU
      SABORES FAVORITOS. ESTAN AQUI.</div></div>
  <div class="product-text" style="text-align: left; font-weight: 300px;" > <div class="maquina">Pepsi. Pepsi dietética. Pepsi Cero Azúcar. Toda la pandilla está aquí. Compara sabores, obtén datos nutricionales y consulta los ingredientes de todos nuestros productos Pepsi</div></div>

  <div style="height: 20px;"></div>
  <div  class="product-button">VER PRODUCTOS</div>
  <div style="height: 20px;"></div>


</div>
<div class="product-item product-item-column"><div class="cambios">

    <div class="oscuro" >
    <img style="max-width: 100%;" src="https://www.pepsi.com/en-us/uploads/images/promotion1-hero_v3.png" class="promotion__hero-image" alt="Pepsi cans line-up"></div>
</div>
</div>
</div>


<div class="semi-footer">
  <h2>SIGUE A PEPSI</h2>
        <div class="imganes-seguir">
          <div class="imageni"><img src="https://www.pepsi.com/en-us/uploads/images/social-twitter.png?mtime=20180110134932" alt="" ></div>
          <div class="imageni"><img src="	https://www.pepsi.com/en-us/uploads/images/social-facebook.png?mtime=20180110134926" alt=""  ></div>
          <div class="imageni"><img src="https://www.pepsi.com/en-us/uploads/images/social-instagram.png?mtime=20180110134928" alt="" ></div>
          <div class="imageni"><img src="	https://www.pepsi.com/en-us/uploads/images/social-youtube.png?mtime=20180110134934" alt=""  ></div>
          <div class="imageni"><img src="https://www.pepsi.com/en-us/uploads/images/social-tiktok.png" alt=""  ></div>
        </div>

</div>
</body>



